.Aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.AsideBar {
  padding: 3rem;
  border-right: 1px solid #eaebf0;
}

.Aside img {
  width: 2.4rem;
  height: 2.4rem;
  margin-block: 2rem;
}
.Top,
.Bottom {
  display: flex;
  flex-direction: column;
}
.Logo {
  margin-bottom: 4rem !important;
}
.ToolTip {
  background-color: #000;
  color: #fff;

  font-size: 1.2rem;
  border-radius: 0.2rem;
  z-index: 10;
  position: absolute;
  left: 4rem;
  display: none;
  padding: 0.8rem 1.2rem;
  box-shadow: 0px 0px 1px #ffffff, 0px 15px 35px -5px rgba(17, 24, 38, 0.35),
    0px 5px 15px -3px rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
}
.Block {
  display: flex;
  align-items: center;
  position: relative;
}
.Block:hover .ToolTip {
  display: block;
}
@media only screen and (max-width: 37.5em) {
  .AsideBar {
    display: none;
    padding: 3rem 1rem;
  }
}
